@model CoffeeAppRevisted.Models.Coffee.Coffee

<form asp-action="InsertCoffee" asp-controller="Coffee"> <!--Form needs all constructor parameters-->

    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name" />

        <label asp-for="Price"></label>
        <input asp-for="Price" />

        <label asp-for="Description"></label>
        <input asp-for="Description" />

        <input type="submit" value="Add Coffee!" />
    </div>

</form>